.main_headline {
	color: orange;
	margin-top: 30px;
	text-align: right;
	margin-right: 300px;
}

.sub_headline {
	font-size: 40px;
	text-align: center;
	color: orange;
}

.flex-container {
	height: 450px;
	display: flex;
	padding-top: 10px;
	border-top: 1px solid black;
}

section {
	width: 1200px;
	height: 550px;
}

aside {
	width: 500;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comment_box_heading {
	font-size: 25px;
	padding: 5px;
}

.comment_box {
	height: 160px;
	border-bottom: 1px solid black;
}

.container {
	border-top: 1px solid black;
	display: flex;
}

.main_image {
	width: 1000px;
	height: 550px;
}

.sub_img {
	height: 600px;
	padding: 10px;
}

.data_container {
	margin-top: 250px;
	padding: 10px;
}

.home_page_link {
	color: slateblue;
}

.download_link {
	color: blue;
}
