.headline {
	color: orange;
	margin-top: 30px;
	text-align: right;
	margin-right: 160px;
}

.guest_headline {
	font-size: 40px;
	text-align: center;
	color: orange;
}

.comment_box_heading {
	font-size: 25px;
	padding: 5px;
}

main {
	width: 800px;
	height: 650px;
	margin: auto;
}

.flex-container {
	height: 450px;
	display: flex;
	padding-top: 10px;
	border-top: 1px solid black;
}

section {
	width: 800px;
}

aside {
	width: 200;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comment_box {
	height: 160px;
	border-bottom: 1px solid black;
}
